.game{
    background-color: white;
}
.title{
    background-color: white;
    font-family: fantasy;
    font-size: 48px;
    text-align: center;
    
}
h1{
    margin-left: 20%;
    padding-left: 20%;
}
.btn  {
    width: 100%; 
    font-family: cursive;
}

h2 {
    text-align: center;
   background-color: red;
    color: white;
}

#show-question{
    text-align: center;
    font-family: fantasy;
    font-size: larger;
}
#results, #results2, #results3{
    text-align: center;
    font-family: fantasy;
    font-size: larger;
}
#picture{
    text-align: center;
}
